[tool.poetry]
name = "poethepoet"
version = "0.0.2"
description = "A task runner that works well with poetry."
authors = ["Nat Noordanus <n@natn.me>"]
readme = "README.rst"
repository =  "https://github.com/nat-n/poethepoet"
homepage =  "https://github.com/nat-n/poethepoet"

[tool.poetry.dependencies]
python = "^3.6"
toml = "^0.10.1"
poetry = "^1.0.5"

[tool.poetry.dev-dependencies]
black = "^19.10b0"
bpython = "^0.19"
mypy = "^0.770"
pylint = "^2.5.2"
pytest = "^5.2"
pytest-cov = "^2.9.0"

[tool.poetry.scripts]
poe = "poethepoet.cli:main"

[tool.poe]
run_in_project_root = false

[tool.poe.tasks]
test = "pytest --cov=poethepoet ${POE_ROOT}/tests"
mypy = "mypy $POE_ROOT/poethepoet --ignore-missing-imports"
lint = "pylint $POE_ROOT/poethepoet"
format = "black $POE_ROOT"
clean = """
  rm -rf '$POE_ROOT/**/__pycache__'
         $POE_ROOT/.coverage
         $POE_ROOT/.mypy_cache
         $POE_ROOT/.pytest_cache
"""

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
