[tool.poetry]
name        = "poethepoet"
version     = "0.11.0"
description = "A task runner that works well with poetry."
authors     = ["Nat Noordanus <n@natn.me>"]
readme      = "README.rst"
license     = "MIT"
repository  = "https://github.com/nat-n/poethepoet"
homepage    = "https://github.com/nat-n/poethepoet"

[tool.poetry.dependencies]
python = "^3.6.2"
pastel = "^0.2.1"
tomli  = "^1.2.2"

[tool.poetry.dev-dependencies]
black      = "^21.10b0"
bpython    = "^0.22.1"
mypy       = "^0.910"
pylint     = "^2.11.1"
pytest     = "^6.2.5"
pytest-cov = "^3.0.0"
rstcheck   = "^3.3.1"
tox        = "^3.24.4"

[tool.poetry.scripts]
poe = "poethepoet:main"


[tool.poe.tasks]

  [tool.poe.tasks.format]
  help = "Run black on the code base"
  cmd  = "black ."

  [tool.poe.tasks.clean]
  help = "Remove generated files"
  cmd  = """
    # multiline commands including comments work too!
    rm -rf .coverage
           .mypy_cache
           .pytest_cache
           ./**/__pycache__
           dist
           htmlcov
           ./tests/fixtures/simple_project/venv
           ./tests/fixtures/venv_project/myvenv
  """

  [tool.poe.tasks.test]
  help = "Run unit and feature tests"
  cmd  = "pytest --cov=poethepoet"

  [tool.poe.tasks.types]
  help = "Run the type checker"
  cmd  = "mypy poethepoet --ignore-missing-imports"

  [tool.poe.tasks.lint]
  help = "Run the linter"
  cmd  = "pylint poethepoet"

  [tool.poe.tasks.style]
  help = "Validate code style"
  cmd  = "black . --check --diff"

  [tool.poe.tasks.check-docs]
  help = "Validate rst syntax in the docs"
  cmd  = "rstcheck README.rst"

  [tool.poe.tasks.check]
  help     = "Run all checks on the code base"
  sequence = ["check-docs", "style", "types", "lint", "test"]

  [tool.poe.tasks.poe]
  help   = "Execute poe from this repo (useful for testing)"
  script = "poethepoet:main"


[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = true
envlist = py36, py37, py38
[testenv]
whitelist_externals = poetry
commands =
    poetry install -v
    poe test
"""


[tool.coverage.report]
omit = ["**/site-packages/**"]


[build-system]
requires      = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
