name: CI

on: [push, pull_request]

jobs:

  code-quality:
    name: Check coding standards
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry

      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: poetry

      - name: Install dependencies
        run: poetry install

      - name: Check code formatting
        run: poetry run poe style

      - name: Run linter
        run: poetry run poe lint

      - name: Check types
        run: poetry run poe types

      - name: Check rst syntax
        run: poetry run poe check-docs

  run-tests:
    name: Run tests
    strategy:
      matrix:
        os: [Ubuntu, MacOS, Windows]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
        exclude: # TODO: remove this when pip is fixed
          - os: Windows
            python-version: '3.11'

    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry

      - name: Install dependencies
        run: poetry install

      - name: Run tests
        run: poetry run pytest -v

  build-release:
    name: Build and release
    runs-on: ubuntu-latest
    needs: [code-quality, run-tests]
    steps:
      - uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry

      - uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Build package
        run: poetry build

      - name: Build HTML documentation with Sphinx
        run: |
          poetry install --with=dev
          poetry run sphinx-build docs docs/_build

      - name: Deploy doc to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build

      - name: Publish package to PyPI
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
        run: poetry publish -n
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.pypi }}
